# --- GENERAL CONFIG ---
PRIMARY_DOMAIN=localhost
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_RESOURCE_GROUP=

# --- DATABASE CONFIG ---
# Can be found under NEXTCLOUD config

# --- REDIS CONFIG ---
# Can be found under NEXTCLOUD config

# --- NEXTCLOUD CONFIG ---
NEXTCLOUD_TRUSTED_DOMAINS=localhost
NEXTCLOUD_TRUSTED_PROXIES=swag
NEXTCLOUD_OVERWRITEPROTOCOL=https
NEXTCLOUD_DB_HOST=db
NEXTCLOUD_DB=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_REDIS_HOST=redis
NEXTCLOUD_ADMIN_USER=nextcloud

# --- SWAG CONFIG ---
SWAG_VALIDATION=self-signed
SWAG_SUBDOMAINS=false
SWAG_DNSPLUGIN=azure
SWAG_TIMEZONE=Europe/Berlin
SWAG_EMAIL=

