# --- GENERAL CONFIG ---
PRIMARY_DOMAIN=$!{{PRIMARY_DOMAIN}}
#AZURE_SUBSCRIPTION_ID=
#AZURE_TENANT_ID=
#AZURE_RESOURCE_GROUP=

# --- DATABASE CONFIG ---
# Can be found under NEXTCLOUD config

# --- REDIS CONFIG ---
# Can be found under NEXTCLOUD config

# --- NEXTCLOUD CONFIG ---
NEXTCLOUD_TRUSTED_DOMAINS=$!{{PRIMARY_DOMAIN}}
NEXTCLOUD_TRUSTED_PROXIES=swag
NEXTCLOUD_OVERWRITEPROTOCOL=https
NEXTCLOUD_OVERWRITEWEBROOT=/nextcloud
NEXTCLOUD_DB_HOST=db
NEXTCLOUD_DB=nextcloud
#Deprecated: NEXTCLOUD_DB_USER=$!{{NEXTCLOUD_DB_USER}}
NEXTCLOUD_REDIS_HOST=redis
#Deprecated: NEXTCLOUD_ADMIN_USER=$!{{NEXTCLOUD_ADMIN_USER}}

# --- SWAG CONFIG ---
SWAG_VALIDATION=dns
SWAG_SUBDOMAINS=
SWAG_DNSPLUGIN=azure
SWAG_TIMEZONE=Europe/Berlin
SWAG_EMAIL=$!{{SWAG_EMAIL}}

